@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatCard {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.float-card{
  animation: floatCard 6s ease-in-out infinite;
}